/.project
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.m2e.core.prefs
/model/.classpath
/model/.project
/model/.settings/org.eclipse.core.resources.prefs
/model/.settings/org.eclipse.jdt.core.prefs
/model/.settings/org.eclipse.m2e.core.prefs
/model/.settings/org.eclipse.wst.common.component
/model/.settings/org.eclipse.wst.common.project.facet.core.xml
/model/.settings/org.eclipse.wst.validation.prefs
/model/target/classes/META-INF/MANIFEST.MF
/model/target/classes/META-INF/maven/com.jjbosch.proscriptio/model/pom.properties
/model/target/classes/META-INF/maven/com.jjbosch.proscriptio/model/pom.xml
/webapp/.classpath
/webapp/.project
/webapp/.settings/.jsdtscope
/webapp/.settings/org.eclipse.core.resources.prefs
/webapp/.settings/org.eclipse.jdt.core.prefs
/webapp/.settings/org.eclipse.m2e.core.prefs
/webapp/.settings/org.eclipse.wst.common.component
/webapp/.settings/org.eclipse.wst.common.project.facet.core.xml
/webapp/.settings/org.eclipse.wst.jsdt.ui.superType.container
/webapp/.settings/org.eclipse.wst.jsdt.ui.superType.name
/webapp/.settings/org.eclipse.wst.validation.prefs
/webapp/target/classes/com/jjbosch/proscriptio/action/Main.class
/webapp/target/classes/context-root.xml
/webapp/target/classes/context-security.xml
/webapp/target/classes/struts-actions.xml
/webapp/target/classes/struts.xml
/webapp/target/classes/tiles-defs.xml
/webapp/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
/webapp/target/m2e-wtp/web-resources/META-INF/maven/com.jjbosch.proscriptio/webapp/pom.properties
/webapp/target/m2e-wtp/web-resources/META-INF/maven/com.jjbosch.proscriptio/webapp/pom.xml
